<template>
  <div id="app" class="content">
    <div class="container">
      <h1>Shreddit Top 5 2018</h1>
      <h4>Last Update: <span v-text="localDate"></span></h4>
      <h3>Select Band to see shared votes</h3>
      <div class="columns is-mobile">
        <div class="column" style="height: 80vh; overflow-y: auto">
          <table class="table">
            <thead>
            <tr>
              <th>Band</th>
              <th>Votes</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="band in bands" v-bind:key="band.band" v-on:click="select(band)" :class="{ 'is-selected': isSelected(band) }" style="cursor: pointer">
              <td v-text="band.band">
              </td>
              <td v-text="band.count">

              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="column" style="height: 80vh; overflow-y: auto">
          <table class="table" v-if="currentConnections" style="overflow-y: auto;">
            <thead>
            <tr>
              <th>Band</th>
              <th>Shared Votes</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="band in currentConnections" v-bind:key="band.band" v-on:click="select(band)" :class="{ 'is-selected': isSelected(band) }" style="cursor: pointer">
              <td v-text="band.band">
              </td>
              <td v-text="band.count">

              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import counts from './assets/counts.json'
import connections from './assets/connections.json'
import update from './assets/update.json'
export default {
  name: 'App',
  data () {
    return {
      bands: counts,
      connections: connections,
      selected: null,
      update: update
    }
  },
  computed: {
    currentConnections () {
      if (this.selected) {
        const c = this.connections[this.selected.band]
        return Object.keys(c).map(key => {
          return {
            band: key,
            count: c[key]
          }
        }).sort((l, r) => {
          return r.count - l.count
        })
      }
      return null
    },
    localDate () {
      const utcDate = update.last_update + 'Z' // ISO-8601 formatted date returned from server
      return new Date(utcDate).toString()
    }
  },
  components: {
  },
  methods: {
    select (band) {
      this.selected = band
    },
    isSelected (band) {
      return this.selected === band
    }
  }
}
</script>
